@model icisleriKutuphaneWeb.Models.Entity.TBUYELER
@{
    ViewBag.Title = "IndexPanelim";
    Layout = "~/Views/Shared/uyePanel.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="@Model.fotograf" alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">@Model.uyeAdSoyad</h3>
                            <p class="text-muted text-center">İçişleri Bakanlığı</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Okunan Kitap Sayısı:</b> <a class="float-right">@ViewBag.OkunanKitapSayisi</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Hakkında</h3>
                        </div>
                        <div class="card-body">
                            <strong><i class="fas fa-building mr-1"></i> Çalıştığı Birim</strong>
                            <p class="text-muted">@Model.calistigiBirim</p>

                            <hr>

                            <strong><i class="fas fa-user-tag mr-1"></i> Unvan</strong>
                            <p class="text-muted">@Model.unvan</p>

                            <hr>

                            <strong><i class="fas fa-envelope mr-1"></i> Email</strong>
                            <p class="text-muted">@Model.uyeEmail</p>

                            <hr>

                            <strong><i class="fas fa-phone-alt mr-1"></i> Telefon</strong>
                            <p class="text-muted">@Model.isTelefonu</p>

                            <hr>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Duyurular</a></li>
                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Bilgiler</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    @Html.Partial("Partial1", ViewBag.Duyurular as List<icisleriKutuphaneWeb.Models.Entity.TBDUYURULAR>)
                                </div>
                                <div class="tab-pane" id="settings">
                                    <div class="card-body">
                                        @Html.Partial("Partial2", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="control-sidebar control-sidebar-dark"></aside>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/dist/js/demo.js"></script>
</body>
</html>
